<div class="wrapper">
   <div  class="sign-div">
      <h2>Sign in</h2>
      <label for="mail" class="label">Login</label>
      <input type="text" class="input" placeholder = 'Enter email'#email>
      <label for="pass" class="label">Password</label>
      <input type="password" class="input" placeholder="Enter password" #password>
      <button (click)="onSignin(email.value, password.value)">Sign in</button>
      <div class="registration">
         <p class="link-wrapper">Dont have an account?</p><a class="link" routerLink="/sign-up">Sign up</a>
      </div>
   </div>
</div>
