.logout-button {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 120px;
  height: 35px;
   font-size: 17px;
   background-color: #fff;
  border-radius: 20px;
  border: 0.5px solid #000;

}

.logout-button:hover {
  background-color: rgb(96, 169, 251);
  border: none
}
